/*поисковая строка /htdocs/conf/custom/css/default */
.tab_to_switch_search
{
	background:rgba(246,243,226,0.9);
	padding:5px 0 0 0;
	border-bottom:solid 1px rgba(224, 219, 207, 1);
}
.tab_to_switch_search span
{
    display: inline-block;
    padding: 0 2% 0 2%;
    min-width: 300px;
	/*font-weight:bold;*/
    font-size: 13pt;
	line-height:24pt;
	height:34px;
	cursor:pointer;
}
.tab_to_switch_search span:after
{
  content:'';
  position:absolute;
  bottom:0px;
  right:-43px;
  height:0;
  width:0;
  /*border-style: solid;
  border-width: 18px 23px 17px 23px;*/
  cursor:pointer;
}
.tab_to_switch_search span:nth-child(1)
{
    margin: 0 0 0 8%;
}
.tab_to_switch_search span.opac, .body_opac .tab_to_switch_search span.opac, .body_discovery .tab_to_switch_search span.discovery
{
    /*background: rgba(224, 219, 207, 1);*/
	z-index:2;
	/*box-shadow: -1px -1px 5px #6f0000;*/
	bottom:-1px;
	color:#6f001c;
	/*font-weight:bolder;*/
}
.tab_to_switch_search span.opac:after, .body_opac .tab_to_switch_search span.opac:after, .body_discovery .tab_to_switch_search span.discovery:after
{
	border-color: transparent transparent rgba(224, 219, 207, 1) rgba(224, 219, 207, 1);
}
.tab_to_switch_search span.discovery, .body_discovery .tab_to_switch_search span.opac
{
    /*background: #6f001c;*/
	color:#333;
	z-index:1;
	box-shadow:none;
}
.tab_to_switch_search span.discovery:after, .body_discovery .tab_to_switch_search span.opac:after
{
	border-color: transparent transparent #6f001c #6f001c;
}
.tab_to_switch_search span.discovery
{
	text-indent:2%;
}
.body_discovery #searchdiv, .body_discovery [id^='infor']
{
	display:none;
}
.body_discovery  #main
{
	height:auto;
	min-height:inherit;
}
body:not([class*='body_discovery']) #bs
{
	display:none;
}
.body_discovery #bs
{
	display:block;
}
.searchdiv
{
	/*position:absolute;
	top:185px;*/
	left:0;
	width:100%;
	background:#e9e3dc;
	background: linear-gradient(to bottom, rgba(246,243,226,0.9) 0%,rgba(246,243,226,0.9) 44%,rgba(242,239,222,0.9) 56%,rgba(240,236,224,1.0) 65%,rgba(234,230,218,1.0) 79%,rgba(231,227,218,1.0) 100%); 
	/*background:#eee;
	background:rgba(238,238,238,0.9);
	box-shadow: 0 15px 15px -15px rgba(194,190,174,1.0);*/
	box-shadow: 0 15px 15px -15px #666;
	z-index:2;
}
/*выбор бд*/
.single_base
{
	font-weight: bold;
	font-size: 90%;
	color: #6f0000;
	padding: 13px 0 0 1px;
}
.bases_div
{
	display:inline-block;
	width:80%;
	margin:0 10%;
}
#bases_div_inner
{
	display:inline-block;
	/*width:100%;*/
	padding:10px 0 0 0;
	height:40px;
}
/*элементы поиска*/
.searchdiv_outer
{
	width: 80%;
	height:100%;
	margin:0 10%;
}
.searchdiv_inner
{
	width: 100%;
	height:100%;
	display:inline-block;
}
.searchdiv .bottom
{
	text-align:right;
	padding:0 0 10px 0;
}
.searchdiv .top
{
	text-align:right;
	position: absolute;
    top: -30px;
	right: 0;
}
.searchdiv .top span, .searchdiv .bottom span
{
	margin: 0px 0px 0px 25px;
	font-size: 70%;
	font-weight:bold;
	cursor:pointer;
}
.sel, .history_link
{
	text-decoration: underline;
	visibility:visible;
	color:#333;
}
.sel_
{
	text-decoration: none;
	color:#6f0000;
	visibility:visible;
}
.sel__
{
	visibility:hidden;
}
.searchdiv .middle
{
	width: 100%;
	text-align:left;
}
/*словарь*/
.middle b
{
	float:right;
	width:30px;
	height:30px;
	cursor:pointer;
	color:#999;
}
/*поисковые поля*/
.labcontainer, .logcontainer, .basescontainer
{
	height: 34px;
	overflow: hidden;
	background:#fff;
	background:rgba(255,255,255,0.6);
	border:solid 1px rgba(231,227,218,1.0);
}
.logcontainer
{
	width: 48px;
	float: right;
	margin: 0 0 0 5px;
	cursor:pointer;
}
[class^='opt']
{
	cursor:pointer;
}
.opt
{
	width: 155px;
	float: left;
}
.opt1
{
	width: 125px;
	float: left;
}
.opt2, .options2, .select2, .select2_
{
	width: 295px;
}
.inp
{
	height: 35px;
	overflow: hidden;
}
.iLAB 
{
	width: 100%;
	height: 32px;
	border: none;
	font-size:100%;
	font-weight:bold;
	line-height:110%;
	padding: 1px;
	margin: 0;
	background:transparent;
	color:#333;
}
#lib_search, .lib_search
{
	font-size:70%;
	line-height:150%;
	margin: 0 0 0 5px;
	width:80%;
}
/*имитация select*/
[class^='select']
{
	overflow: hidden;
	/*z-index:2;*/
	color:#333;
}
.select, .select_
{
	width: 155px;
}
.select1, .select1_
{
	width: 48px;
	height: 29px;
}
.select2, .select2_
{
	height: 45px;
}
.select4, .select4_
{
	width: 50px;
	height: 32px;
	border:solid 1px #ccc;
	color:#666;
	background:#eee;
	/*margin-top:5px;*/
}
.select1, .select1_
{
	float: right;
}
[class^='select'] span
{
	font-size:80%;
	line-height:220%;
	font-weight:bold;
	white-space: nowrap;
	overflow: hidden;
	float: left;
}
.select span, .select_ span
{
	width: 125px;
	margin: 0 0 0 2px;
	height: 34px;
	padding: 2px 0 0 4px;
}
.select1 span, .select1_ span
{
	width: 30px;
	height:29px;
	line-height:220%;
	padding: 2px 0 0 3px;
	text-align: center;
}
.select2 span, .select2_ span
{
	width: 240px;
	margin: 4px 2px 0px 5px;
}
.select2 span#currdb, .select2_ span#currdb
{
	float: none;
	display:inline-block;
}
.select4 span, .select4_ span
{
	width: 30px;
	padding: 6px 0 0 3px;
	text-align: center;
}
[class^='select'] img
{
	width:15px;
	height:30px;
	float: right;
	z-index:2;
}
/*имитация options*/
[class^='options']
{
	position: absolute;
	white-space: nowrap;
	z-index: 3;
	text-align: left;
	overflow: hidden;
	color:#333;
	background:#fff;
	background:rgba(251,251,244,1.0);
	border:solid 1px rgba(231,227,218,1.0);
}
[class^='options'] div:hover
{
	cursor: pointer;
	color: highlighttext;
	background: highlight;
}
.options
{
	width: 265px;
}
.options1
{
	width: 45px;
}
.options3
{
	width: 125px;
}
.options4
{
	width: 55px;
	color:#666;
	background:#eee;
	border:solid 1px #ccc;
	margin-top:-1px;
}
.options div, .options2 div, .options3 div, .options1 div
{
	font-size:80%;
	font-weight:bold;
	line-height:120%;
	margin: 1px;
	padding: 4px 2px 4px 5px;
	white-space: nowrap;
	text-align: left;
	overflow: hidden;
}
.options1 div, .options4 div
{
	text-align: center;
}
/*профессиональный*/
#sand, #sor, #snot, #saf
{
	width: 50px;
	height: 30px;
	margin: 5px 5px 0 5px;
    padding: 0 0 2px 0;
	font-size: 120%;
	line-height:150%;
	background: #666;
	background:#ddd;
	background:rgba(224,219,207,1.1);
	border: solid 1px rgba(224,219,207,1.1);
    color: #999;
}
#saf
{
	width: 80px;
	margin: 5px 10px 0 25px !important;
}
#combo
{
	margin: 15px 42px 15px 0;
	padding: 5px 0 5px 10px;
	font-size:70%;
	line-height:150%;
}
#combo span
{
	margin: 0 10px 0 0;
}
.me
{
	margin: 0 5px 0 0;
}
.me u
{
	font-weight:bold;
}
/*фондодержатели*/
#lib_search, .lib_search
{
	font-size:70%;
	line-height:150%;
	margin: 0 0 0 5px;
	width:90%;
}
/*АФ*/
#afalfabet, .alfavit
{
	text-align:center;
}
#afalfabet span, .alfavit span
{
	display:inline-block;
	font-variant:small-caps;
	font-weight:bold;
	font-size:100%;
	border-bottom:solid 1px #6c000c;
	margin: 5px 2px 0 2px;
	cursor:pointer;
	color:#6c000c;
}
/*ограничения*/
#limits_search
{
	font-weight:bold;
	font-size:80%;
	line-height:240%;
	text-align:left;
	cursor:pointer;
	padding: 0 0 0 35px;
	color:#6c000c;
	height: 32px;
	background:#ddd;
	background:rgba(224,219,207,0.9);
	border: solid 1px rgba(224,219,207,0.9);
	overflow: hidden;
}
.baselimits
{
	text-align:left;
	min-height:50px;
}
.baselimits span.title
{
	width: 25%;
	float: left;
	font-weight: bold;
	font-size:80%;
	line-height:200%;
	padding: 5px 0 0 10px;
	white-space:nowrap;
	color:#333;
}
.limits_left
{
	width: 49%;
	overflow: hidden;
	margin:10px 0 0 0;
}
.limits_left:nth-child(2n)  span.title
{
	padding: 5px 10px 0 0;
}
.limits_left:nth-child(odd)
{
	float: left;
}
.limits_left:nth-child(even)
{
	float: right;
	padding: 0 10px 0 0;
}
.baselimits span.input
{
	width: 61px;
	height: 34px;
	border: solid 1px #666;
	background:#fff;
	background:rgba(255,255,255,0.6);
	border:solid 1px rgba(224,219,207,0.9);
	float: left;
}
.baselimits span.from, .baselimits span.to
{
	width: 35px;
	float: left;
	font-weight: bold;
	font-size:80%;
	line-height:200%;
	color:#333
}
.baselimits span.from
{
	padding: 5px 5px 5px 0;
	text-align:right;
}
.baselimits span.to
{
	padding: 5px;
	text-align:center;
}
.baselimits [class^='select']
{
	width: 70%;
	height: 34px;
	background:#fff;
	background:rgba(255,255,255,0.6);
	border:solid 1px rgba(224,219,207,0.9);
	float: left;
	cursor: pointer;
}
.baselimits [class^='select'] span
{
	width: 85%;
}
.baselimits [class^='select'] img
{
	margin: 2px;
}
.baselimits .options
{
	width: 160px;
}
.period
{
	text-align:center;
	margin: 20px;
}
.period span
{
	display:inline-block;
	font-weight:bold;
	margin: 0 20px 0 0;
}
.period span.input
{
	width: 61px !important;
	height: 34px;
	border: solid 1px #ccc;
	/*box-shadow: 0 0 3px #606f90;*/
	overflow:hidden;
}
.period .from, .period .to
{
	top:-10px;
	left:0;
}
